:root {
    /*paleta 1:*/
    --color-principal: #ee6c4d;
    --color-secundario: #293241;
    --color-terciario: #98c1d9;
    --color-principal-hover: #8a4331;
    --color-secundario-hover: #252930;
    --color-terciario-hover: #678292;
    /*paleta 2:*/
    --color-principal: #b25fe9;
    --color-secundario: #3b363f;
    --color-terciario: #e95fe2;
    --color-principal-hover: #be82e6;
    --color-secundario-hover: #71627e;
    --color-terciario-hover: #f89af3;
    /*paleta 3:*/
    --color-secundario: #B51A2B;
    --color-terciario: #292f33;
    --color-principal-hover: #66655e;
    --color-secundario-hover: #6e1520;
    --color-terciario-hover: #212324;
}

/* background video */
.mainBackgroundVideo {
    right: 0%;
    bottom: 0%;
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-aspect-ratio: 16/9){
    .mainBackgroundVideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .mainBackgroundVideo {
        width: auto;
        height: 100%;
    }
}

/* nav */
.mainNav {
    margin: 30px 10%;
}

.mainNav ul {
    list-style-type: none;
    background-color: var(--color-secundario);
    box-shadow: var(--color-sombra) 5px 5px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.mainNav ul li {
    float: left;
}

.mainNav ul li a {
    font-family: 'Architects Daughter', bold;
    color: var(--color-texto);
    display: block;
    padding: 16px 8px;
    text-decoration: none;
}

.mainNav ul li a:hover {
    color: var(--color-texto-hover);
    background-color: var(--color-principal);
    box-shadow: 0 0 10px 10px var(--color-principal);
}

.mainNav ul li a:active {
    color: var(--color-texto-active);
    background-color: var(--color-principal-hover);
    box-shadow: 0 0 10px 10px var(--color-principal-hover);
}

/* container */

.helloContainer img {
    object-fit: fill;
    width: 100%;
    height: auto;
    position: center;
    margin-top: 64px;
}

.helloContainer p {
    font-size: 2rem;
    position: absolute;
}

/* html video bg
<video autoplay loop muted plays-inline class="mainBackgroundVideo">
    <source src="assets/video/background/code_background.mp4" type="video/mp4">
</video>
*/