@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dhurjati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dhurjati&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}

:root {
    /* colores */
    --color-fondo: #0D0D0D;
    --color-texto: #fff;
    --color-texto-hover: #000;
    --color-texto-active: #000;
    --color-sombra: #000;
    --color-principal: #ecdd18;
    --color-secundario: #222222;
    --color-terciario: #22cad3;
    --color-principal-hover: #aaa00c;
    --color-secundario-hover: #1d1d1d;
    --color-terciario-hover: #18868b;
}

/* media */
@media screen and (max-width: 800px) {
    .mainNavOptions {
        display: none;
    }
    
    .mainNavOptionsHamburguer {
        display: flex;
    }

    .basicContainerContent {
        flex-wrap: wrap;
        text-align: center;
    }
}

@media screen and (min-width: 800px) {
    .mainNavOptions {
        display: flex;
    }

    .mainNavOptionsHamburguer {
        display: none;
    }

    .basicContainerContent {
        flex-wrap: nowrap;
        text-align: left;
    }
}

/* Propieties */
.useUnselect {
    user-select: none;
}

.useShadow {
    box-shadow: var(--color-sombra) 0px 5px;
}

.useShadowText {
    text-shadow: var(--color-sombra) 2px 5px;
}

.useShadowTextSub {
    text-shadow: var(--color-sombra) 2px 2px;
}

.useShadowImg img {
    filter: drop-shadow(2px 2px var(--color-sombra));
    -webkit-filter: drop-shadow(2px 2px var(--color-sombra));
}

.useShadowImgMobileNav a:hover img {
    filter: brightness(0);
    -webkit-filter: brightness(0);
}

.useLinkColor {
    color: var(--color-terciario);
}

.useLinkColor:hover {
    color: var(--color-terciario-hover);
}

/*Page startup*/
.pageStartup {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--color-fondo);
}

.pageStartup p {
    font-family: 'Rubik Bubbles', bold;
    font-size: 1.5rem;
    color: var(--color-texto);
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Body */
.mainBody {
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}

/* nav */
.mainNav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}

.navNormalMenuDisplayed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-secundario);
}

.mainNavLogo {
    font-family: 'Rubik Bubbles', bold;
    color: var(--color-texto);
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
}

.mainNavLogo img {
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.mainNavOptions ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.mainNavOptions ul li {
    float: right;
}

.mainNavOptions ul li a {
    font-family: 'Rubik Bubbles', bold;
    color: var(--color-texto);
    text-decoration: none;
    display: block;
    padding: 16px;
    margin: 0px;
    text-shadow: var(--color-sombra) 2px 2px;
}

.mainNavOptions ul li a:hover {
    color: var(--color-texto-hover);
    background-color: var(--color-principal);
    text-shadow: var(--color-sombra) 0px 0px;
}

.mainNavOptions ul li a:active {
    color: var(--color-texto-active);
    background-color: var(--color-principal-hover);
    text-shadow: var(--color-sombra) 0px 0px;
}

/* Hamburguer menu*/
.navHamburguerMenuDisplayed {
    margin-top: 4px;
    background-color: var(--color-secundario);
}

.mainNavOptionsHamburguer {
    justify-content: center;
    align-items: center;
}

.mainNavOptionsHamburguer img {
    width: 32px;
    height: 32px;
    margin: 8px;
}

.mainNavOptionsHamburguer img:hover {
    scale: 1.1;
}

/* Display */
.navHamburguerMenuDisplayed ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navHamburguerMenuDisplayed ul li {
    float: right;
    display: block;
}

.navHamburguerMenuDisplayed ul li a {
    font-family: 'Rubik Bubbles', bold;
    color: var(--color-texto);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    text-shadow: var(--color-sombra) 2px 2px;
}

.navHamburguerMenuDisplayed ul li a:hover {
    color: var(--color-texto-hover);
    background-color: var(--color-principal);
    text-shadow: var(--color-sombra) 0px 0px;
}

.navHamburguerMenuDisplayed ul li a:active {
    color: var(--color-texto-active);
    background-color: var(--color-principal-hover);
    text-shadow: var(--color-sombra) 0px 0px;
}

.navHamburguerMenuDisplayed ul li a p {
    width: 110px;
}

.navHamburguerMenuDisplayed img {
    width: 32px;
    height: 32px;
    margin: 8px;
}

/* Cointainer */
.helloContainer {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: var(--color-texto);
    font-family: 'Rubik Bubbles', bold;
}

.helloContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    position: center;
    background-image: url("../assets/img/gallery/background/background.png");
    background-position: center;
    background-size: cover;
}

.helloContainer p {
    font-size: 2rem;
    padding-top: 35%;
    position: absolute;
}

.basicContainer {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    padding: 20px 10% 40px;
    height: auto;
    color: var(--color-texto);
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    box-sizing: border-box;
    border-color: transparent;
}

.basicContainerMural {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.basicContainerImg {
    margin: 0px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.basicContainerImg img {
    width: 256px;
    height: 256px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.basicContainerImg p {
    margin: 0;
    padding: 4px;
    text-align: center;
}

.basicContainerContent:hover img {
    box-shadow: 0px 0px 5px 5px var(--color-terciario);
}

.basicContainerTitle {
    text-align: center;
    font-size: 2rem;
    font-family: 'Rubik Bubbles', sans-serif;
}

.basicContainerSubtitle {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

.basicContainerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basicContainerContent img {
    width: 128px;
    height: auto;
    margin: 16px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.basicContainerContent p {
    width: 80%;
    height: auto;
    margin: 10px 20px;
}

.basicContainerLogos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.basicContainerLogos img {
    width: 50px;
    height: 50px;
    margin: 16px 10px;
}

.basicContainerLogos img:hover {
    scale: 1.2;
}

.basicContainerAppLogos {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.basicContainerAppLogos p {
    margin: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik Bubbles', sans-serif;
}

.basicContainerAppLogoSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 0px;
}

.basicContainerAppLogoSquare img {
    display: block;
    width: 50px;
    height: 50px;
}

.basicContainerAppLogoSquare img:hover {
    scale: 1.2;
}

.basicContainerAppLogoSquare p {
    width: 128px;
    height: 32px;
    text-align: center;
}

.basicContainerContentFooter a {
    display: flex;
    text-align: center;
}

.basicContainerFooter {
    display: block;
    margin: 32px 0;
    padding: 20px 10% 40px;
    height: auto;
    color: var(--color-texto);
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    box-sizing: border-box;
    border-color: transparent;
}

.footerCopy {
    margin-top: 64px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik Bubbles', sans-serif;
}

.footerCopy a {
    text-decoration: none;
    color: var(--color-texto);
}

.footerCopy a:hover {
    text-decoration: underline;
    color: var(--color-texto);
}
