@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,800;1,800&display=swap');

* {
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
    user-select: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

:root {
    /* colors */
    --color-primary:                #7d12ff;
    --color-secondary:              #ff129c;
    --color-contrast:               #7d12ff;
    --color-background:             light-dark(#e7e7e7, #0D0D0D);
    --color-text:                   light-dark(#000000, #ffffff);
    --color-text-button:            light-dark(#ffffff, #000000);
    --color-text-title:             light-dark(#000000, #ffffff);
    --color-text-subtitle:          light-dark(#444444, #e6e6e6);
    --color-border:                 light-dark(#969696, #575757);
    --color-border-hover:           light-dark(#000000, #ffffff);
    --color-shadow:                 light-dark(#000000, #000000);
    --color-button:                 light-dark(#202020, #ffffff);
    --color-button-hover:           light-dark(#000000, #c7c7c7);
    --color-card:                   light-dark(#ffffff6e, #2c2c2c6e);
    --color-card-hover:             light-dark(#e7e7e7ff, #1b1b1b6e);
    --color-card-title:             light-dark(#ffffff, #ffffff);
    --color-card-metadata:          light-dark(#949494, #949494);
    --color-preview-background:     light-dark(#ffffff, #1b1b1b);
    --color-scrollbar-thumb:        light-dark(#202020, #ffffff);
    --color-scrollbar-thumb-hover:  light-dark(#000000, #c7c7c7);
    --color-scrollbar-background:   light-dark(#1b1b1b44, #ffffff44);
    --color-navbar-background:      light-dark(#f3f3f3, #070707);

    /* sizing */
    --size-font-extra-big:      2.5rem;
    --size-font-big:            2rem;
    --size-font-medium:         1.5rem;
    --size-font-small:          1rem;
    --size-font-extra-small:    0.6rem;
    --size-border-big:          12px;
    --size-border-medium:       10px;
    --size-border-small:        8px;
}


/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar-background);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
}


/* animations */
@keyframes loadingSpin {
    0% {
        transform: rotate(0deg);    ;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes loadingFadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes previewShow {
    from {
        opacity: 0;
        top: 9999px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes previewHide {
    from {
        opacity: 1;
        top: 0;
    }
    to {
        opacity: 0;
        top: 9999px;
    }
}

@keyframes navThemeOnLoad {
    0% {
        rotate: 0deg;
    }
    30% {
        rotate: -90deg;
    }
    100% {
        rotate: 360deg;
    }
}

@keyframes navBottomEffect {
    0% {
        box-shadow: 0 0 40px var(--color-primary);
    }
    50% {
        box-shadow: 0 0 40px var(--color-secondary);
    }
    100% {
        box-shadow: 0 0 40px var(--color-primary);
    }
}

@keyframes navBottomEffectAlt {
    0% {
        box-shadow: 0 0 40px red;
    }
    16% {
        box-shadow: 0 0 40px lime;
    }
    32% {
        box-shadow: 0 0 40px blue;
    }
    48% {
        box-shadow: 0 0 40px magenta;
    }
    64% {
        box-shadow: 0 0 40px yellow;
    }
    80% {
        box-shadow: 0 0 40px cyan;
    }
    100% {
        box-shadow: 0 0 40px red;
    }
}

/* media query */
@media screen and (max-width: 950px) {
    .navbar {
        height: 32px;
    }

    .navbar-title {
        flex-direction: column;
    }

    .navbar-title img {
        display: none;
    }

    .navbar-title-name {
        font-size: var(--size-font-small);
        font-weight: 400;
    }

    .navbar-title-profession {
        font-size: var(--size-font-small);
        font-weight: 300;
    }

    .navbar-hamburger {
        display: flex;
    }

    .navbar img {
        width: 32px;
        height: auto;
    }
    .preview-title h1 {
        font-size: var(--size-font-medium);
    }
}

@media screen and (min-width: 950px) {
    .navbar {
        height: auto;
    }

    .navbar-title {
        flex-direction: row;
    }

    .navbar-title img {
        display: flex;
    }

    .navbar-title-name {
        font-size: var(--size-font-medium);
        font-weight: 400;
    }

    .navbar-title-profession {
        font-size: var(--size-font-medium);
        font-weight: 200;
    }

    .navbar-hamburger {
        display: none;
    }

    .navbar img {
        width: 46px;
        height: auto;
    }

    .preview-title h1 {
        font-size: var(--size-font-big);
    }
}


/* body */
body {
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

/* loading screen */
.loading-screen {
    z-index: 999;
    background-color: var(--color-background);
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-screen img {
    width: 64px;
    height: auto;
    margin-bottom: 25px;
    animation: loadingSpin 0.7s linear infinite;
    -webkit-animation: loadingSpin 0.7s linear infinite;
}

.loading-screen h1 {
    color: var(--color-text);
    font-size: var(--size-font-medium);
    font-style: normal;
}


/* navbar */
.navbar {
    z-index: 998;
    position: sticky;
    top: 0;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 40px var(--color-border);
    background-color: var(--color-navbar-background);
    /*animation: navBottomEffectAlt 2.3s infinite;
    -webkit-animation: navBottomEffectAlt 2.3s infinite;*/
}

.navbar-title {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-title img {
    margin-right: 4px;
}

.navbar-title-name {
    color: var(--color-text-title);
    margin: 0 4px;
    padding: 0;
}

.navbar-title-profession {
    color: var(--color-text-subtitle);
    color: var(--color-primary);
    margin: 0 4px;
    padding: 0;
}

.navbar-options {
    display: flex;
    margin: 0;
    padding: 0;
}


/* preview */
.preview-container {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.preview-screen {
    z-index: 3;
    position: relative;
    max-width: 680px;
    max-height: 800px;
    margin: 10px;
    top: calc(0dvh + 32px);
    width: calc(100dvw - 20px);
    height: calc(100dvh - 128px);
    background-color: var(--color-preview-background);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-border);
    border-radius: var(--size-border-big);
    -webkit-border-radius: var(--size-border-big);
    -moz-border-radius: var(--size-border-big);
    -ms-border-radius: var(--size-border-big);
    -o-border-radius: var(--size-border-big);
}

.preview-nav {
    display: flex;
    width: auto;
    height: 96px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-radius: calc(var(--size-border-big) - 1px) calc(var(--size-border-big) - 1px) 0 0;
    -webkit-border-radius: calc(var(--size-border-big) - 1px) calc(var(--size-border-big) - 1px) 0 0;
    -moz-border-radius: calc(var(--size-border-big) - 1px) calc(var(--size-border-big) - 1px) 0 0;
    -ms-border-radius: calc(var(--size-border-big) - 1px) calc(var(--size-border-big) - 1px) 0 0;
    -o-border-radius: calc(var(--size-border-big) - 1px) calc(var(--size-border-big) - 1px) 0 0;
}

.preview-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    text-shadow: 1px 1px var(--color-shadow);
}

.preview-title h1 {
    color: var(--color-card-title);
    margin: 0;
    padding-left: 16px;
}

.preview-nav-logo {
    width: 46px;
    height: auto;
    filter: drop-shadow(2px 2px var(--color-shadow));
    -webkit-filter: drop-shadow(2px 2px var(--color-shadow));
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.preview-nav-close {
    width: 32px;
    height: auto;
    margin-right: 8px;
    filter: drop-shadow(2px 2px var(--color-shadow));
    -webkit-filter: drop-shadow(2px 2px var(--color-shadow));
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.preview-nav-close:hover {
    scale: 1.1;
}

.preview-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 8px 0;
    padding: 12px 16px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.preview-content h2 {
    margin: 6px 0 2px 0;
}

.preview-content h3 {
    align-self: center;
    text-align: center;
    margin: 0 0 40px;
}

.preview-content h4 {
    color: var(--color-card-metadata);
    margin: 0 0 10px 12px;
}

.preview-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.preview-content ul li {
    margin: 2px 4px;
    padding: 4px 8px;
    background-color: var(--color-background);
    border-radius: var(--size-border-small);
    -webkit-border-radius: var(--size-border-small);
    -moz-border-radius: var(--size-border-small);
    -ms-border-radius: var(--size-border-small);
    -o-border-radius: var(--size-border-small);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.preview-content ul li p {
    margin: 0;
    padding: 0;
    color: var(--color-text);
}

.preview-content ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--color-text);
}

.preview-content ul li:hover {
    scale: 1.1;
}

.preview-url {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.preview-url li {
    margin: 24px 12px;
    padding: 0;
}

.preview-url li a {
    background-color: var(--color-button);
    color: var(--color-text-button);
    text-shadow: 0 0;
    padding: 8px 16px;
    align-self: flex-end;
    text-decoration: none;
    font-size: var(--size-font-small);
    border-radius: var(--size-border-small);
    -webkit-border-radius: var(--size-border-small);
    -moz-border-radius: var(--size-border-small);
    -ms-border-radius: var(--size-border-small);
    -o-border-radius: var(--size-border-small);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.preview-url li a:hover {
    background-color: var(--color-button-hover);
}

/* card */
.container-card {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* project card */
.project-card {
    width: 360px;
    height: 280px;
    background-color: var(--color-card);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 12px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-border);
    border-radius: var(--size-border-medium);
    -webkit-border-radius: var(--size-border-medium);
    -moz-border-radius: var(--size-border-medium);
    -ms-border-radius: var(--size-border-medium);
    -o-border-radius: var(--size-border-medium);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.project-card:hover {
    background-color: var(--color-card-hover);
    border-color: var(--color-border-hover);
    scale: 1.05;
    z-index: 1;
}

.project-card p {
    color: var(--color-text-subtitle);
    margin: 16px 12px;
    padding: 0;
    font-size: 1rem;
}

.project-card a {
    background-color: var(--color-button);
    color: var(--color-text-button);
    text-shadow: 0 0;
    margin: 16px;
    padding: 8px 16px;
    align-self: flex-end;
    text-decoration: none;
    font-size: var(--size-font-small);
    border-radius: var(--size-border-small);    
    -webkit-border-radius: var(--size-border-small);
    -moz-border-radius: var(--size-border-small);
    -ms-border-radius: var(--size-border-small);
    -o-border-radius: var(--size-border-small);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.project-card a:hover {
    background-color: var(--color-button-hover);
}

.project-card img {
    margin-left: 12px;
    filter: drop-shadow(2px 2px var(--color-shadow));
    -webkit-filter: drop-shadow(2px 2px var(--color-shadow));
}

.project-card-metadata {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: var(--size-border-medium) var(--size-border-medium) 0 0;
    -webkit-border-radius: var(--size-border-medium) var(--size-border-medium) 0 0;
    -moz-border-radius: var(--size-border-medium) var(--size-border-medium) 0 0;
    -ms-border-radius: var(--size-border-medium) var(--size-border-medium) 0 0;
    -o-border-radius: var(--size-border-medium) var(--size-border-medium) 0 0;
}

.project-card-metadata img {
    width: 64px;
    height: 64px;
    margin: 8px 16px;
}

.project-card-metadata p {
    color: var(--color-card-title);
    margin: 10px 0;
    font-size: 1.5rem;
}

.project-card-status {
    display: flex;
    font-size: var(--size-font-extra-small);
    margin-left: 10px;
}

.project-card-status p {
    color: var(--color-card-metadata);
    margin: 4px 0 10px 6px;
}

.project-card-preview-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.project-card-preview-data img {
    width: 16px;
    height: auto;
    margin-left: 16px;
    /* filter: invert(100); <-- Add this line to JS */
}

.project-card-preview-data p {
    margin: 0;
    margin-left: 8px;
}

/* general card */
.general-card {
    width: 130px;
    height: 130px;
    background-color: var(--color-card);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 16px 4px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--size-border-medium);
    -webkit-border-radius: var(--size-border-medium);
    -moz-border-radius: var(--size-border-medium);
    -ms-border-radius: var(--size-border-medium);
    -o-border-radius: var(--size-border-medium);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.general-card:hover {
    scale: 1.3;
    background-color: var(--color-card-hover);
    border-color: var(--color-border-hover);
    z-index: 1;
}

.general-card:hover p {
    color: var(--color-text);
    height: 32px;
}

.general-card p {
    color: transparent;
    height: 0px;
    font-size: 0.8rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.general-card img {
    width: 64px;
    height: auto;
    filter: drop-shadow(2px 2px var(--color-shadow));
    -webkit-filter: drop-shadow(2px 2px var(--color-shadow));
}


/* footer card */
.footer-card {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-card-data {
    list-style-type: none;
    background-color: var(--color-card);
    margin: 8px;
    padding: 0;
    padding-top: 6px;
    border-radius: var(--size-border-medium);
    -webkit-border-radius: var(--size-border-medium);
    -moz-border-radius: var(--size-border-medium);
    -ms-border-radius: var(--size-border-medium);
    -o-border-radius: var(--size-border-medium);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}

.footer-card-data:hover {
    scale: 1.1;
}

.footer-card-data a {
    margin: 0;
    padding: 8px;
    border-radius: var(--size-border-medium);
    -webkit-border-radius: var(--size-border-medium);
    -moz-border-radius: var(--size-border-medium);
    -ms-border-radius: var(--size-border-medium);
    -o-border-radius: var(--size-border-medium);
}

.footer-card-data img {
    width: 32px;
    height: auto;
    filter: drop-shadow(2px 2px var(--color-shadow));
    -webkit-filter: drop-shadow(2px 2px var(--color-shadow));
}