@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dhurjati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dhurjati&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    scroll-behavior: smooth;
}

:root {
    /* colores */
    --color-fondo: #0D0D0D;
    --color-texto: #fff;
    --color-texto-hover: #000;
    --color-texto-active: #000;
    --color-sombra: #000;
    --color-principal: #ea00d9;
    --color-secundario: #091833;
    --color-terciario: #0abdc6;
    --color-principal-hover: #bd00b0;
    --color-secundario-hover: #050c18;
    --color-terciario-hover: #08696e;
}

.userUnselect {
    user-select: none;
}

.useShadow {
    box-shadow: var(--color-sombra) 0px 5px;
}

.mainBody {
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
}

/* media */
@media screen and (max-width: 800px) {
    .mainNavOptions {
        display: none;
    }

    .basicContainerContent {
        flex-wrap: wrap;
        text-align: center;
    }
}

@media screen and (min-width: 800px) {
    .mainNavOptionsHamburguer {
        display: none;
    }

    .basicContainerContent {
        flex-wrap: nowrap;
        text-align: left;
    }
}

/* nav */
.mainNav {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    background-color: var(--color-secundario);
}

.mainNavLogo {
    font-family: 'Architects Daughter', bold;
    color: var(--color-texto);
    padding-left: 16px;
    display: flex;
}

.mainNavLogo img {
    width: 32px;
    height: 32px;
    margin: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.mainNavOptions ul {
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}

.mainNavOptions ul li {
    float: right;
}

.mainNavOptions ul li a {
    font-family: 'Architects Daughter', bold;
    color: var(--color-texto);
    display: block;
    padding: 6px;
    margin: 10px;
    text-decoration: none;
}

.mainNavOptions ul li a:hover {
    color: var(--color-texto-hover);
    background-color: var(--color-principal);
    box-shadow: 0px 0px 5px 5px var(--color-principal);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.mainNavOptions ul li a:active {
    color: var(--color-texto-active);
    background-color: var(--color-principal-hover);
    box-shadow: 0 0 5px 5px var(--color-principal-hover);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* Hamburguer menu*/
.mainNavOptionsHamburguer {
    scale: 0.05;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-right: 50px;
}

.mainNavOptionsHamburguer:hover {
    scale: 0.06;
    padding-top: 2px;
    padding-right: 55px;
}

/* Cointainer */
.helloContainer {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: var(--color-texto);
    font-family: 'Rubik Bubbles', bold;
}

.helloContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    position: center;
    background-image: url("../assets/img/gallery/background.jpg");
    background-position: center;
    background-size: cover;
}

.helloContainer p {
    font-size: 2rem;
    padding-top: 35%;
    position: absolute;
}

.basicContainer {
    display: block;
    margin: 32px 0;
    padding: 20px 10% 40px;
    height: auto;
    color: var(--color-texto);
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    box-sizing: border-box;
    border-color: transparent;
}

.basicContainerContent:hover img {
    box-shadow: 0px 0px 5px 5px var(--color-terciario);
}

.basicContainerTitle {
    text-align: center;
    font-size: 2rem;
    font-family: 'Rubik Bubbles', sans-serif;
}

.basicContainerSubtitle {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
}

.basicContainerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basicContainerContent img {
    width: 128px;
    height: auto;
    margin: 16px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.basicContainerContent p {
    width: 80%;
    height: auto;
    margin: 10px 20px;
}

.basicContainerLogos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.basicContainerLogos img {
    width: 50px;
    height: 50px;
    margin: 16px 10px;
}

.basicContainerLogos img:hover {
    scale: 1.2;
}

.basicContainerAppLogos {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.basicContainerAppLogos p {
    margin: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik Bubbles', sans-serif;
}

.basicContainerAppLogoSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 0px;
}

.basicContainerAppLogoSquare img {
    display: block;
    width: 50px;
    height: 50px;
}

.basicContainerAppLogoSquare img:hover {
    scale: 1.2;
}

.basicContainerAppLogoSquare p {
    width: 128px;
    height: 32px;
    text-align: center;
}

.basicContainerContentFooter a {
    display: flex;
    text-align: center;
}

.basicContainerFooter {
    display: block;
    margin: 32px 0;
    padding: 20px 10% 40px;
    height: auto;
    color: var(--color-texto);
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    box-sizing: border-box;
    border-color: transparent;
}

.footerCopy {
    margin-top: 64px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Rubik Bubbles', sans-serif;
}

.footerCopy a {
    text-decoration: none;
    color: var(--color-texto);
}

.footerCopy a:hover {
    text-decoration: underline;
    color: var(--color-texto);
}

/* progress bar */
@property --progress-value {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

:root {
    --progress-bar-color: #cfd8dc;
    --progress-value-color: #2196f3;
    --progress-empty-color-h: 4.1;
    --progress-empty-color-s: 89.6;
    --progress-empty-color-l: 58.4;
    --progress-filled-color-h: 122.4;
    --progress-filled-color-s: 39.4;
    --progress-filled-color-l: 49.2;
}

progress[value] {
    display: block;
    position: relative;
    appearance: none;
    width: 80%;
    height: 10px;
    border: 0;
    --border-radius: 10px;
    border-radius: var(--border-radius);
    counter-reset: progress var(--progress-value);
    --progress-value-string: '';
    --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
    --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
    @supports selector(::-moz-progress-bar) {
        --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
    }
    --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
    --progress-value-color: hsl(
    calc((var(--progress-empty-color-h) + (var(--progress-filled-color-h) - var(--progress-empty-color-h)) * var(--progress-value-decimal)) * 1deg)
    calc((var(--progress-empty-color-s) + (var(--progress-filled-color-s) - var(--progress-empty-color-s)) * var(--progress-value-decimal)) * 1%)
    calc((var(--progress-empty-color-l) + (var(--progress-filled-color-l) - var(--progress-empty-color-l)) * var(--progress-value-decimal)) * 1%)
    );
    animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both progress;
}
  
progress[value]::-webkit-progress-bar {
    background-color: var(--progress-bar-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}
  
progress[value]::-webkit-progress-value {
    width: var(--progress-value-percent) !important;
    background-color: var(--progress-value-color);
    border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
    width: var(--progress-value-percent) !important;
    background-color: var(--progress-value-color);
    border-radius: var(--border-radius);
}

progress[value]::after {
    display: flex;
    align-items: center;
    justify-content: center;
    --size: 0px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: var(--progress-value-percent);
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--progress-value-color);
    border-radius: 50%;
    content: attr(value);
    content: var(--progress-value-string, var(--value));
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

@keyframes progress {
    from {
        --progress-value: 0;
    } to {
        --progress-value: var(--value);
    }
}